<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile_pic.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Cernan Bernardo</h1>
		<p>Welcome to my personal blog.</p>
		<p>I learned to build this blog using the tutorial by MacKenzie Child on his <a href="https://www.youtube.com/watch?v=BI_VnnOLSKY">Youtube page</a>.</p>
	</div>
</div>